<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfred.dao.UserPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.alfred.model.UserPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, permission_id, rule
  </sql>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.alfred.model.UserPermission" >
    select
    <include refid="Base_Column_List" />
    from user_permission
    <where >
      <if test="userId != null" >
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="permissionId != null" >
        AND permission_id = #{permissionId,jdbcType=INTEGER}
      </if>
      <if test="rule != null" >
        AND rule = #{rule,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="com.alfred.model.UserPermission" >
    select
    <include refid="Base_Column_List" />
    from user_permission
    <where >
      <if test="userId != null" >
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="permissionId != null" >
          <![CDATA[ AND permission_id != #{permissionId,jdbcType=INTEGER}  ]]>
      </if>
    </where>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alfred.model.UserPermission" >
    insert into user_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="rule != null" >
        rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null" >
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="rule != null" >
        #{rule,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.alfred.model.UserPermission" >
    update user_permission
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null" >
        permission_id = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="rule != null" >
        rule = #{rule,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>