<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfred.dao.VoidSettlementMapper" >
  <resultMap id="BaseResultMap" type="com.alfred.model.VoidSettlement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="bill_no" property="billNo" jdbcType="INTEGER" />
    <result column="payment_id" property="paymentId" jdbcType="INTEGER" />
    <result column="payment_sett_id" property="paymentSettId" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="authorized_user_id" property="authorizedUserId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="revenue_id" property="revenueId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sys_create_time" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="sys_update_time" property="sysUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, bill_no, payment_id, payment_sett_id, reason, authorized_user_id, amount, restaurant_id, 
    revenue_id, user_id, create_time, update_time, sys_create_time, sys_update_time
  </sql>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.alfred.model.VoidSettlement" >
    select
    <include refid="Base_Column_List" />
    from void_settlement
    <where >
    	<if test="orderId != null" >
        AND order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="billNo != null" >
        AND bill_no = #{billNo,jdbcType=INTEGER}
      </if>
      <if test="paymentId != null" >
        AND payment_id = #{paymentId,jdbcType=INTEGER}
      </if>
      <if test="paymentSettId != null" >
        AND payment_sett_id = #{paymentSettId,jdbcType=INTEGER}
      </if>
      <if test="reason != null" >
        AND reason = #{reason,jdbcType=VARCHAR}
      </if>
      <if test="authorizedUserId != null" >
        AND authorized_user_id = #{authorizedUserId,jdbcType=INTEGER}
      </if>
      <if test="amount != null" >
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="restaurantId != null" >
        AND restaurant_id = #{restaurantId,jdbcType=INTEGER}
      </if>
      <if test="revenueId != null" >
        AND revenue_id = #{revenueId,jdbcType=INTEGER}
      </if>
      <if test="userId != null" >
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="sysCreateTime != null" >
        AND sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="sysUpdateTime != null" >
        AND sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from void_settlement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from void_settlement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alfred.model.VoidSettlement" >
    insert into void_settlement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="paymentSettId != null" >
        payment_sett_id,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="authorizedUserId != null" >
        authorized_user_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
      <if test="revenueId != null" >
        revenue_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sysCreateTime != null" >
        sys_create_time,
      </if>
      <if test="sysUpdateTime != null" >
        sys_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=INTEGER},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=INTEGER},
      </if>
      <if test="paymentSettId != null" >
        #{paymentSettId,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="authorizedUserId != null" >
        #{authorizedUserId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="revenueId != null" >
        #{revenueId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.alfred.model.VoidSettlement" >
    update void_settlement
    <set >
    	<if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=INTEGER},
      </if>
      <if test="paymentId != null" >
        payment_id = #{paymentId,jdbcType=INTEGER},
      </if>
      <if test="paymentSettId != null" >
        payment_sett_id = #{paymentSettId,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="authorizedUserId != null" >
        authorized_user_id = #{authorizedUserId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="restaurantId != null" >
        restaurant_id = #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="revenueId != null" >
        revenue_id = #{revenueId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateTime != null" >
        sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>